<!DOCTYPE html>
<html class="home-html-height">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/icon/easyfislogomini.ico">
    <title>Easyfis</title>

    @Styles.Render("~/Content/Home-css")
</head>
<body id="page-top" class="home-body-height">

    <!--
        ===========
        Navbar Menu
        ===========
    -->
    <nav id="nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img src="~/Images/logo/easyfislogo.png" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <!--
        ===========
        Cover Photo
        ===========
    -->
    <header class="homeHeader">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Easy Financial Information System</h1>
                <hr>
                <p>The easiest way to manage your sales, purchases, disbursements, collections, inventories and financials in the cloud using any device.</p>
                @Html.Partial("_HomeIndex")
            </div>
        </div>
    </header>

    <!--
        ==============
        Section: About
        ==============
    -->
    <section id="about">
        <div class="section-pad-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="img-responsive" src="~/Images/sectionImages/easyfis.png" alt="">
                        <br /><br />
                    </div>
                    <div class="col-lg-6">
                        <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #2e6da4;"><img src="~/Images/logo/easyfislogo.png" height="40" /> <small>/ Cloud-Based Accounting Software</small></h2>
                        <div style="margin-left: 5px;">
                            <p>
                                <b>Easy Financial Information System</b> is a cloud-base SAAS Application designed for robust enterprise transactions that includes customer and sales management, payables, supply-chain management, warehousing, accounting and finance for trading businesses. With complete integration to existing <b>Innosoft POS</b>.
                            </p>
                            <br />
                            <table border="0" style="margin-left: 5px;">
                                <tr>
                                    <td style="width: 40px; vertical-align: middle;">
                                        <p> <i class="fa fa-check fa-fw" style="color:limegreen;"></i> </p>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <p>
                                            Sell your products and services using the cloud.  Manage your receivables and collection online.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40px; vertical-align: middle;">
                                        <p> <i class="fa fa-check fa-fw" style="color:limegreen;"></i> </p>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <p>
                                            Make purchases and pay expenses using the cloud.  Manage your payables and disbursement online.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40px; vertical-align: middle;">
                                        <p> <i class="fa fa-check fa-fw" style="color:limegreen;"></i> </p>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <p>
                                            Manage product inventory on multiple branches and warehouse locations.  Setup multiple units per products for easier transactions.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40px; vertical-align: middle;">
                                        <p> <i class="fa fa-check fa-fw" style="color:limegreen;"></i> </p>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <p>
                                            Show real-time financial statements with supporting ledgers in the cloud.  Automated bookeeping process for all transactions.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40px; vertical-align: middle;">
                                        <p> <i class="fa fa-check fa-fw" style="color:limegreen;"></i> </p>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <p>
                                            Setup unlimited company with corressponding branches.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
        ================
        Section: Contact
        ================
    -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-white">
                        <h2>Contact Us!</h2>
                        <br />
                        <p>
                            Ready to subscribe with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
                        </p>
                        <br />
                        <table border="0" style="margin-left: 5px;">
                            <tr>
                                <td style="width: 40px; vertical-align: middle;">
                                    <p><i class="fa fa-mobile-phone fa-fw"></i></p>
                                </td>
                                <td style="vertical-align: middle;">
                                    <p>
                                        0936-338-2541 (TM) / 0932-609-4459 (Sun)
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 40px; vertical-align: middle;">
                                    <p><i class="fa fa-phone fa-fw"></i></p>
                                </td>
                                <td style="vertical-align: middle;">
                                    <p>
                                        (032) 263-2912 / (032) 520-7245 / (032) 415-1507
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 40px; vertical-align: middle;">
                                    <p><i class="fa fa-envelope-o fa-fw"></i></p>
                                </td>
                                <td style="vertical-align: middle;">
                                    <p>
                                        info@innosoft.ph
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <br /><br />
                    </div>
                </div>
                <div class="col-md-6">
                    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
                    <div class="img-responsive" style='overflow: hidden; height: 440px; width: 100%;'>
                        <div id='gmap_canvas' style='height: 440px; width: 100%;'></div>
                        <div>
                            <small>
                                <a href="http://embedgooglemaps.com">
                                    embed google maps
                                </a>
                            </small>
                        </div>
                        <div>
                            <small>
                                <a href="https://privacypolicygenerator.info">
                                    privacy policy generator
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
        ======
        Footer
        ======
    -->
    <footer class="footer-custom">
        <div class="container" align="center">
            <label>Easyfis © Cebu Innosoft Solutions Services Inc. All rights reserved.</label>
        </div>
    </footer>

    <!--
        =============
        Modal Signout
        =============
    -->
    <div class="modal fade" id="modalLogout" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Logout </h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to logout?
                </div>
                <div class="modal-footer">
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary"><i class="fa fa-sign-out"></i> Logout</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Home-js")
    <script type='text/javascript'>
        function init_map() {
            var myOptions = {
                zoom: 17,
                center: new google.maps.LatLng(10.315699199999994, 123.88543660000008),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
            marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(10.315699199999994, 123.88543660000008)
            });

            infowindow = new google.maps.InfoWindow({
                content: '<strong>Cebu Innosoft Solutions Inc.</strong><br>Innosoft Bldg. Corner V. Rama Avenue & R. Duterte St. Guadalupe, Cebu City<br>'
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });

            infowindow.open(map, marker);
        }

        google.maps.event.addDomListener(window, 'load', init_map);

        $("#btnMoreInfoSales").popover({
            html: true,
            content: function () {
                return $('#popover-content-sales').html();
            }
        });
        $("#btnMoreInfoPurchases").popover({
            html: true,
            content: function () {
                return $('#popover-content-purchases').html();
            }
        });
        $("#btnMoreInfoInventory").popover({
            html: true,
            content: function () {
                return $('#popover-content-inventory').html();
            }
        });
        $("#btnMoreInfoFinancials").popover({
            html: true,
            content: function () {
                return $('#popover-content-financials').html();
            }
        });
        $("#btnMoreInfoUserSetup").popover({
            html: true,
            content: function () {
                return $('#popover-content-usersetup').html();
            }
        });
    </script>
</body>
</html>