<footer class="footer-custom-userAuthentication">
    <div class="container" align="center">
        <label>Easyfis © Cebu Innosoft Solutions Services Inc. All rights reserved.</label>
    </div>
</footer>