<footer class="main-footer footer-custom-userAuthentication" style="background-color: #112540 !important;">
    <div class="container">
        <div class="" style="color: #ffffff">
            <span class="stampDetailCustom"><b>Easy Financial Information System (Easyfis)</b></span><br />
            <span class="stampDetailCustom">Version 2.0 - 20180517 - NOR</span><br />
            <span class="stampDetailCustom">Developer: Cebu Innosoft Solutions Services Inc.</span><br />
            <span class="stampDetailCustom">Contact us:  0936-338-2541 (TM) / 0932-609-4459 (Sun)</span><br />
        </div>
    </div>
</footer>