<footer class="main-footer footer-custom-userAuthentication" style="background-color: #112540 !important;">
    <div class="container">
        <div class="text-center" style="color: #ffffff">
            <h4 class="stampDetailCustom"><b>Easy Financial Information System (Easyfis)</b></h4>
            <span class="stampDetailCustom">Version 2.0 - 20171215 - NOR</span><br />
            <span class="stampDetailCustom">Developer: Cebu Innosoft Solutions Services Inc.</span><br />
            <span class="stampDetailCustom">Contact us:  (032) 266 3773</span><br />
        </div>
    </div>
</footer>